
<mat-card>

  <mat-card-title>Редактиране на дисциплина</mat-card-title>

  <mat-card-content>
    <div class="container">
      <form (ngSubmit)="updateSubject(subject._id)" #subjectForm="ngForm">

        <mat-form-field>
          <input [(ngModel)]="subject.name" type="text"  name="name" matInput placeholder="Име на дисциплината" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input [(ngModel)]="subject.abbreviation" type="text"  name="abbreviation" matInput placeholder="Абривиатура" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea [(ngModel)]="subject.description" type="text"  name="description" matInput placeholder="Описание" ></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="subject.start_date" [matDatepicker]="picker" name="start_date" placeholder="Начало" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input [(ngModel)]="subject.lectures" type="number"  name="lectures" matInput placeholder="Лекции" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input [(ngModel)]="subject.exercises" type="number"  name="exercises" matInput placeholder="Упражнения" />
        </mat-form-field>

        <mat-label>Курсова задача:</mat-label>
        <mat-form-field class="example-full-width">
          <mat-select [(value)]="subject.courseWork">
            <mat-option selected value=true>Да</mat-option>
            <mat-option value=false>Не</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label>Оценяване:</mat-label>
        <mat-form-field class="example-full-width">
          <mat-select [(value)]="subject.evaluation">
            <mat-option value="Изпит">Изпит</mat-option>
            <mat-option value="Текуща оценка">Текуща оценка</mat-option>
          </mat-select>
        </mat-form-field>

          <a target="_blank" href="http:////localhost:3000/download/{{subject.file}}">Архив с файлове</a>

        <button mat-raised-button color="warn" routerLink="..">Отказ</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!subjectForm.form.valid">Запазване</button>

      </form>
    </div>
  </mat-card-content>

</mat-card>
