<h2 class="mat-h1">Управление на специалности</h2>
<a mat-raised-button mat-button routerLink="course-add">Добавяне</a>
<br/>
<form (ngSubmit)="findCourse(search)" #courseForm="ngForm">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="search" type="text"  name="text" matInput placeholder="Търсене"/>
  </mat-form-field>
  <button type='submit' mat-raised-button mat-button (ngSubmit)="findCourse(search)">Търсене</button>
</form>
<div class="container mat-elevation-z8">
  <!--
  <app-data-table [path]="'/api/courses'"
  [displayedColumns]="['Име ', 'courseDegree', 'actions']">
  </app-data-table>
  -->
  <mat-list>
    <mat-list-item *ngFor="let course of test">
      <p>{{course.name}} - {{course.courseDegree}} - {{course.faculty.name}}</p>
      <span class="example-spacer"></span>
      <span>
        <a *ngFor="let action of actions" mat-icon-button routerLink="{{action.value}}//{{course._id}}">
          <mat-icon >{{action.key}}</mat-icon>
        </a>
      </span>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
 <!--

  <mat-table mat-hide [dataSource]="test" matSort>

    ID Column
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let course"> {{course._id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="progress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
      <mat-cell *matCellDef="let course"> {{course.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let course"> {{course.courseDegree}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
      <mat-cell *matCellDef="let course" [style.color]="course.color"> {{course.description}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

-->
