<mat-card>

  <mat-card-title>Изтриване на Факултет</mat-card-title>

  <mat-card-content>
      <div class="container">
          <form (ngSubmit)="deleteFaculty(faculty._id)" #facultyForm="ngForm">

            <mat-form-field>
              <input [(ngModel)]="faculty.name" type="text"  name="name" matInput placeholder="Име на факултета" disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input [(ngModel)]="faculty.abbreviation" type="text"  name="abbreviation" matInput placeholder="Абривиатура" disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <textarea [(ngModel)]="faculty.description" type="text"  name="description" matInput placeholder="Описание"disabled></textarea>
            </mat-form-field>

            <button mat-raised-button color="warn" routerLink="/faculties">Отказ</button>
            <button type="submit" mat-raised-button color="primary">Изтриване</button>

          </form>
        </div>
  </mat-card-content>

</mat-card>
