<mat-card>

    <mat-card-title>Редактиране на Специалност</mat-card-title>

    <mat-card-content>
        <div class="container">
            <form (ngSubmit)="updateCourse(course._id)" #courseForm="ngForm">

              <mat-form-field>
                <input [(ngModel)]="course.name" type="text"  name="name" matInput placeholder="Име на специалността"/>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input [(ngModel)]="course.abbreviation" type="text"  name="abbreviation" matInput placeholder="Абривиатура"/>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input [(ngModel)]="course.description" type="text"  name="description" matInput placeholder="Абривиатура"/>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                  <mat-select [(value)]="course.courseDegree">
                    <mat-option value="Бакалавър">Бакалавър</mat-option>
                    <mat-option value="Магистър">Магистър</mat-option>
                  </mat-select>
              </mat-form-field>

              <button mat-raised-button color="warn" routerLink="/courses">Отказ</button>
              <button type="submit" mat-raised-button color="primary" [disabled]="!courseForm.form.valid">Запазване</button>

            </form>
          </div>
    </mat-card-content>

  </mat-card>
