mat-grid-list {
  margin-top: 10px;
  margin-bottom: 64px;
}

mat-grid-tile mat-grid-tile-header{
  background: #3f51b5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

mat-grid-tile mat-grid-tile-footer{
  background: #3f51b5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

mat-grid-tile {
  background: rgb(199, 199, 199);
  justify-content: center;
}

.mat-list .mat-list-item {
  font-size: 18px;
}

.mat-grid-tile-footer, .mat-grid-tile-header {
  font-size:  16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  min-width: 200px;
}

